$color-primary: #58e1c1;
$color-secondary: #777;
$color-img: #ccc;
$color-hover: #fff;

/* Breakpoints */

$break-m: 768px;

/* buttons */

$base-default: #51ddfc; 
$base-error: #e4757a;
$base-info: #927bc1;
$base-success: #63cc82;
$base-warning: #fd7856;