$color-primary: #58e1c1;
$color-secondary: #777;
$background-color1: #927bc1;
$background-color2: #fd7856;
$background-color3: #deb2ee;


/* Breakpoints */

$break-m: 768px;

/* buttons */

$base-default: #51ddfc; 
$base-error: #e4757a;
$base-info: #927bc1;
$base-success: #63cc82;
$base-warning: #fd7856;